{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

    </style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
// <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>






  </head>
  <body style="background-image: url('{% static 'images/background.jpg' %}');background-repeat: no-repeat;">
    <div class="container py-5 py-lg-5 my-4">
        <div class="row">
          {% include 'messages.html' %}
          <div class="col-md-10 offset-md-1">
            <div class="card border-0 shadow center">
              <div class="card-body">
                <h2 class="h4 mb-1  text text-center">Giriş Yap</h2>
                <div class="py-3">
                </div>
                <hr>
                
                <form class="needs-validation" method="POST" action="{% url 'login' %}" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name == "username" %}
                  <div class="input-group mb-3"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                    <!-- <input class="form-control rounded-start" type="email" placeholder="Email" id="id_email" required> -->
                      {{ field }}
                  </div>
                    {% else %}
                  <div class="input-group mb-3"><i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                    
                      <!-- <input class="form-control" type="password" placeholder="Password" required> -->
                        {{ field }}
                     
                  </div>
                    {% endif %}
                    {% endfor %}
                  <div class="d-flex flex-wrap justify-content-between">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" checked id="remember_me">
                      <label class="form-check-label mr-5" for="remember_me">Beni Hatırla</label>
                      
                        

                      

                  </div>
                  </div>
                 
                  <button class="btn btn-primary float-right btn-md" style="width: 37%;" type="submit">Giriş Yap</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
  
</body>
</html>